<div class= "header">
  <div class= "container-fluid">
    <div style="float: left;"><button type="button" onclick="window.location.href='/'" class="btn btn-default navbar-btn">Home</button></div>
    <h1> Main Game </h1>
    <script src="<%= javascript_path "phaser.min.js" %>"></script>
  </div>
</div>

<div class="main-container">
<script type="text/javascript">

  var game = new Phaser.Game(800, 600, Phaser.AUTO, 'container', {preload: preload, create: create, update: update }, true);

  function preload(){

    game.load.image('garden', '<%= image_path "garden.png"  %> ');
    game.load.image('border', '<%= image_path "border.png"  %>');
    game.load.image('net', '<%= image_path "net.png" %>');
    game.load.image('spray', '<%= image_path "spray.png" %>');
    game.load.image('red', '<%= image_path "red.png" %>');
    this.game.scale.pageAlignHorizontally = true;
    this.game.scale.pageAlignVertically = true;
    this.game.scale.refresh();

  }

  var score = 0;
  var scoreText;
  var timer;
  var milliseconds = 0;
  var seconds = 0;
  var minutes = 0;
  var bugsOnScreen = 0;
  var bugs;
  var border;
  var netSprite;
  var spraySprite;

  function create(){
    timer = game.time.create(false);
    game.physics.startSystem(Phaser.Physics.ARCADE);
    game.add.image(0, 0, 'garden');
    border = game.add.image(0, 0, 'border');
    game.physics.arcade.enable(border);
    bugs = game.add.group();
    bugs.enableBody = true;
    bugs.physicsBodyType = Phaser.Physics.ARCADE;
    bugs.add(game.add.sprite(400, 100, 'red'));
    netSprite = game.add.sprite(50, 475, 'net');
    spraySprite = game.add.sprite(200, 475, 'spray');
    spraySprite.inputEnabled = true;
    spraySprite.input.useHandCursor = true;
    spraySprite.input.enableDrag(true);
    game.physics.arcade.enable(spraySprite);
    spraySprite.body.collideWorldBounds = true;
    scoreText = game.add.text(16, 16, 'score: 0', {fontsize: '32px', fill: '#000' });
    timer.loop(10000, addBug, this);
    timer.start();
  }

  function update(){
    if(game.input.mousePointer.justReleased()) {

      game.physics.arcade.overlap(spraySprite, bugs, killBug, null, this);
      spraySprite.reset(200, 475);

    }
  }

  function addBug(){

    if(bugsOnScreen < 10) {
      var positionX = Math.floor((Math.random() * 650) + 50);
      var positionY = Math.floor((Math.random() * 450) + 50);
      bugs.add(game.add.sprite(positionX, positionY, 'red'));
      bugsOnScreen++;
    }
  }

  /*function updateTime(){
    minutes = Math.floor(timer.ms / 60000) % 60;

    seconds = Math.floor(timer.ms / 1000) % 60;

    milliseconds = Math.floor(timer.ms) % 100;

    //If any of the digits becomes a single digit number, pad it with a zero
    if (milliseconds < 10)
      milliseconds = '0' + milliseconds;

    if (seconds < 10)
      seconds = '0' + seconds;

    if (minutes < 10)
      minutes = '0' + minutes;

    game.debug.text(minutes + ':'+ seconds + ':' + milliseconds, 250, 250);
  }*/

  function killBug(spraySprite, bug){
    bug.kill();
    score += 100;
    scoreText.text = 'Score: ' + score;
  }



</script>
</div>

