
<div class= "header">
 <div class= "container-fluid">
     <h1>Garden Academy</h1>
   <% if !(current_admin || current_facilitator || current_student) %>
     <div style="float: right;"><button type="button" onclick="window.location.href='/user-login'" class="btn btn-success navbar-btn">Admin/Facilitator <span class="glyphicon glyphicon-log-in"></span></button></div>
   <% end %>
 </div>
</div>


<div class="container">
 <div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">
  <a href="/student-login"> <img id="start" src='<%= asset_path("STARTBTN (transparent).png") %>'
                                 onmousedown="this.src='<%=asset_path("STARTBTN (pressed).png") %>'"
                                 onmouseup="this.src='<%= asset_path("STARTBTN (transparent).png") %>'"
                                 onmouseover="this.src='<%=asset_path("STARTBTN (pressed).png") %>'"
                                 onmouseout="this.src='<%= asset_path("STARTBTN (transparent).png") %>'"
                                 class="img-responsive"> </a>
  </div>
  <div class="col-xs-2">
  </div>
</div>
</div>
