<div class= "header">
 <div class= "container-fluid">
  <div style="float: left;"><button type="button" onclick="window.location.href='/'" class="btn btn-default navbar-btn">Home</button></div>
  <h1> Facilitator Home Page </h1>

 </div>
</div>

<div class="panel panel-heading">
  <div class="toolbar">
    <div class= "container-fluid">
     <div class= "row">
      <div class= "col-xs-8">
        <%= form_for(@student) do |f| %>
          <%= f.text_field :sid, :placeholder => "Study ID" %>
          <%= f.submit "Add student", formaction: facilitator_add_student_path, class: "btn btn-success" %>
          <%= f.submit "Remove student", formaction: facilitator_remove_student_path, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
 </div>
</div>
<div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-12">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "alert alert-#{name}" %>
          <% end -%>
        </div>
      </div>
  </div>


<div class="container-fluid">
 <div class="row">
   <div class= "dropdown">
     <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by...
       <span class="caret"></span></button>
     <ul class="dropdown-menu">
       <li><a data-target="#" href="/facilitator?sortbysid">SID (A-Z) </a></li>
       <li class="divider"></li>
       <li><a data-target="#" href="/facilitator?sortbych1" >Ch1</a></li>
       <li class="divider"></li>
       <li><a data-target="#" href="/facilitator?sortbyreversesid" >SID (Z-A)</a></li>
     </ul>
   </div>
   <div class="col-xs-12">
     <div class="table-responsive">
     <table class="table">
       <tr class="active">
         <td> SID </td>
         <td> Chapter 1 </td>
       </tr>
       <% if request.fullpath == '/facilitator' %>
           <% @students.each do |s| %>
               <% if s.enrolled%>
                   <tr class="success">
                     <td><%= s.sid %></td>
                     <td><%= s.ch1 %></td>
                   </tr>
               <% else %>
                   <tr class="danger">
                     <td><%= s.sid %></td>
                     <td><%= s.ch1 %></td>
                   </tr>
               <% end %>
           <% end %>
       <% elsif request.fullpath == '/facilitator?sortbysid' %>
           <% @students = Student.order(:sid) %>
            <% @students.each do |s| %>
             <% if s.enrolled%>
             <tr class="success">
               <td><%= s.sid %></td>
               <td><%= s.ch1 %></td>
           </tr>
               <% else %>
                <tr class="danger">
               <td><%= s.sid %></td>
               <td><%= s.ch1 %></td>
           </tr>
              <% end %>
             <% end %>
       <% elsif request.fullpath == '/facilitator?sortbych1' %>
           <% @students = Student.order(:ch1) %>
           <% @students.each do |s| %>
               <% if s.enrolled%>
                   <tr class="success">
                     <td><%= s.sid %></td>
                     <td><%= s.ch1 %></td>
                   </tr>
               <% else %>
                   <tr class="danger">
                     <td><%= s.sid %></td>
                     <td><%= s.ch1 %></td>
                   </tr>
               <% end %>
           <% end %>
           <% elsif request.fullpath == '/facilitator?sortbyreversesid' %>
             <% @students = Student.order(sid: :desc) %>
             <% @students.each do |s| %>
                 <% if s.enrolled%>
                     <tr class="success">
                       <td><%= s.sid %></td>
                       <td><%= s.ch1 %></td>
                     </tr>
                 <% else %>
                     <tr class="danger">
                       <td><%= s.sid %></td>
                       <td><%= s.ch1 %></td>
                     </tr>
                 <% end %>
             <% end %>
       <% end %>
	</table>
     </div>
    </div>
    <%= link_to "Download Report", facilitator_download_report_path, class: "btn btn-info" %>
</div>
</div>
