

<div class= "header">
 <div class= "container-fluid">
  <h1 style="float: left;"> Admin Home Page </h1>

 </div>
</div>

<div class= "container">
 <div class= "row">

  <div class= "col_centered-xs-3">
    <div class="well">
      <%= form_for(@facilitator) do |f| %>
        <div class="form-group"><%= f.text_field :first, :placeholder => "First Name" %></div>
        <div class="form-group"><%= f.text_field :last, :placeholder => "Last Name" %></div>
        <div class="form-group"><%= f.email_field :email, :placeholder => "Email" %></div>
        <div class="form-group"><%= f.password_field :password, :placeholder => "Password" %></div>
          <div class="form-group"><%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></div>
        <div class="form-group"><%= f.submit "Add Facilitator", formaction: admin_add_facilitator_path, class: "btn btn-success" %></div>
      <% end %>
      </div>
    </div>
  <div class="col_centered-xs-6">
    <div class="well">
   <%= form_for(@facilitator) do |f| %>
      <div class="form-group"><%= f.text_field :first, :placeholder => "First Name" %></div>
      <div class="form-group"><%= f.text_field :last, :placeholder => "Last Name" %></div>
      <div class="form-group"><%= f.email_field :email, :placeholder => "Email" %></div>
      <div class="form-group"><%= f.submit "Remove Facilitator", formaction: admin_remove_facilitator_path, class: "btn btn-danger" %></div>
    <% end %>
    </div>
  </div>
   <div class="col-xs-12">
     <div class="table-responsive">
       <table class="table">
         <tr class="active">
           <td> Email </td>
           <td> First </td>
           <td> Last </td>
         </tr>
             <% @facilitators.each do |s| %>
                 <% if s.active%>
                     <tr class="success">
                       <td class="sid"><%= s.email %></td>
                       <td class="ch1"><%= s.first %></td>
                       <td class="ch1"><%= s.last %></td>
                     </tr>
                 <% else %>
                     <tr class="danger">
                       <td class="sid"><%= s.email %></td>
                       <td class="ch1"><%= s.first %></td>
                       <td class="ch1"><%= s.last %></td>
                     </tr>
                 <% end %>
             <% end %>
       </table>
     </div>
   </div>



<div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-12">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "alert alert-#{name}" %>
          <% end -%>
        </div>
      </div>

  </div>
  </div>
 </div>
</div>



