<!DOCTYPE html>
<html>
<head>
  <title>Cs305game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class ="nav pull-right">
  <% if current_facilitator %>
  <ul>
    <li><%= current_facilitator.email %></li>
    <li><%= button_to "Log Out", logout_path, method: "delete" %></li>
  </ul>
      <% end %>
</div>
<%= yield %>

<div class="footer">
<div class="container">
  Courtesy of CS 305 Marshall University
</div>
</div>
<script language="javascript">
</script>
</body>
</html>

